@mixin backgroundForWindow() {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  opacity: 0.3;
  z-index: 20;
}

@mixin window($width, $height, $background, $border) {
  width: $width;
  height: $height;
  background: $background;
  border: $border;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: $background;
  z-index: 21;
  bottom: auto;
  right: auto;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

@mixin table() {
  .table {
    border-collapse: collapse;
    width: 100%;
  }


  td {
    border: 1px solid #7cb305;
    text-align: left;
    padding: 8px;
    max-width: 30vw;
  }

  tbody:nth-child(even) {
    background-color: rgb(100 214 124);
  }

  th {
    text-align: center;
  }
}