@import './src/n4-styles/mixins.module';

.background {
  @include backgroundForWindow()
}

.window {
  @include window(400px, 300px, rgb(100 214 124), red 2px solid);
  border-radius: 5px;
};

.img {
  width: 160px;
}

.sorry {
  height: 80px;
}